

.bg-green {
  background-color: #89c43d;
}
.border-green {
  border: solid 1px #89c43d;
}
.text-green {
  color: #89c43d;
}
.secondary-bg {
  background-color: #30be821a;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.icon-color {
  color: #30be82;
}
.sidebar {
  background: #a2a1a80d;
}
option {
  color: #111827 !important;
  background-color: white !important;
}